@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nanum+Gothic&family=Noto+Sans+KR&family=Pacifico&display=swap');

/* Reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}

/* layout */
body{
    font-size: 16px;
    line-height: 1.6;
}
.wrap{
    /* position: relative; */
    margin: 0 auto;
    overflow: hidden;
    background: #000;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}



/* 공통 부분 */
.title{
    background: #183D3D;
    font-size: 50px;
    width: 50%;
    text-align: center;
    /* border-bottom: 5px solid #183D3D; */
    /* border-radius: 0% 10% 0% 10% / 0% 10% 0% 10%; */
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}
section{
    width: 80%;
    margin: 0 auto;
}


/* section image */
section.image .imges{
    /* position: relative; */
}
section.image .imges img{
    /* position: absolute; */
    border-radius: 10px;
}
section.image{
    padding-top: 50px;
}
section.image .imges img:nth-child(1){
    width: 64%;
    /* margin-left: 5%; */
}
section.image .imges img:nth-child(2){
    width: 30%;
    margin-bottom: -15%;
    margin-left: -10%;
}
section.image .imges img:nth-child(3){
    width: 20%;
    margin-left: -5%;
    margin-bottom: -25%;
}
section.image .imges{
    padding: 100px 0 300px;
}




/* section overview */
section.overview .info{
    width: 90%;
    text-align: left;
    padding: 50px 0;
    padding-left: 12%;
}
section.overview .info p{
    font-size: 25px;
    line-height: 4;
}




/* section guides */
section.guides .content{
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
}
section.guides .content .font{
    font-size: 20px;
}
section.guides .content .font p:nth-child(2){
    margin-top: 20px;
}
/* korea font */
section.guides .content .font .korea{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 28px;
    margin-top: 50px;
}
section.guides .content .font .korea p:nth-child(3){
    font-weight: bold;
}
section.guides .content .font .korea span{
    border-bottom: 1px solid;
}
/* english font */
section.guides .content .font .english span{
    border-bottom: 1px solid;
}
section.guides .content .font .english{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    margin-top: 50px;
}
section.guides .content .font .english p:nth-child(3){
    font-weight: bold;
}
section.guides .content .font .english p:nth-child(4){
    text-transform: uppercase;
}
section.guides .content .font .english p:nth-child(5){
    font-weight: bold;
    text-transform: uppercase;
}
/* color */
section.guides .color{
    font-size: 20px;
}
section.guides .color div{
    width: 100px;
    height: 100px;
    text-align: center;
}
section.guides .color div:nth-child(2){
    background: #fff;
    color: #000;
    border-top-left-radius: 30px;
    margin-top: 20px;
}
section.guides .color div:nth-child(3){
    background: #333;
}
section.guides .color div:nth-child(4){
    background: #faf2e5;
    color: #000;
}
section.guides .color div:nth-child(5){
    background: #617a55;
}
section.guides .color div:nth-child(6){
    background: #3f2305;
    border-bottom-right-radius: 30px;
}




/* section publishing */
section.publishing .content{
    width: 90%;
    text-align: left;
    padding: 50px 0;
    padding-left: 12%;
}
section.publishing .content p{
    font-size: 25px;
    line-height: 4;
}




/* section problem */
section.problem .content{
    width: 90%;
    text-align: left;
    padding: 50px 0;
    padding-left: 12%;
}
section.problem .content p{
    font-size: 24px;
    line-height: 2;
    margin-bottom: 50px;
    /* margin-left: 10px; */
}
section.problem .content span{
    font-size: 21px;
    line-height: 4;
    color: #ddd;
    padding-right: 40%;
    border-bottom: 3px solid #183D3D;
}




/* view more */
.view-more{
    text-align: center;
    padding: 100px 0;
}
.view-more a{
    margin-right: 100px;
    margin-left: 100px;
    font-size: 25px;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.5s;
}
.view-more a:hover{
    background-color: #183D3D;
    border: transparent;
}