@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR&family=Pacifico&display=swap');

/* Reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}

/* layout */
body{
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-size: 16px;
    line-height: 1.6;
}
.wrap{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: #000;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}

/* header */
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 100;
}
header .gnbBtn{
    float: right;
    font-size: 35px;
    z-index: 200;
    position: relative;
}
/* gnbBtn */
.gnbBtn{
    width: 40px;
    height: 20px;
    position: relative;
    top: 30px;
    right: 50px;
    cursor: pointer;
}
.gnbBtn span{
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: 0.3s;
}
.gnbBtn span:nth-child(1){
    top: 0;
}
.gnbBtn span:nth-child(2){
    top: 50%;
    width: 80%;
}
.gnbBtn span:nth-child(3){
    top: 100%;
}
/* gnbBtn 클릭 모션 */
.gnbBtn.active span{
    /* background-color: #fff; */
}
.gnbBtn.active span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
}
.gnbBtn.active span:nth-child(2){
    opacity: 0;
}
.gnbBtn.active span:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
}

/* Modal gnb */
.gnb{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}
.gnb ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gnb ul li{
    line-height: 100px;
    letter-spacing: 3px;
    transition: 0.3s;
    animation: gnbList 0.5s linear;
    animation-fill-mode: both;
    opacity: 0;
}
.gnb ul li a{
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

/* gnb 호버효과 */
.gnb ul li a .char{
    display: inline-block;
    position: relative;
    color: transparent;
    overflow: hidden;
}
.gnb ul li a .char::before, .gnb ul li a .char::after{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    color: #fff;
    content: attr(data-char);
    transition: transform 0.3s;
    transition-delay: calc(30ms * var(--char-index));
}
.gnb ul li a .char::before{
    transform: translateY(100%);
}
.gnb ul li a:hover .char::before{
    transform: translateY(0%);
    opacity: 1;
}
.gnb ul li a:hover .char::after{
    transform: translateY(-100%);
}

/* gnb ul li 하나씩 나오는 애니메이션 */
.gnb ul li:nth-child(1){
    animation-delay: 0.5s;
}
.gnb ul li:nth-child(2){
    animation-delay: 0.7s;
}
.gnb ul li:nth-child(3){
    animation-delay: 0.9s;
}
.gnb ul li:nth-child(4){
    animation-delay: 1.1s;
}
@keyframes gnbList{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
/* gnb 오버레이 */
.gnb::before{
    content: '';
    background: linear-gradient(-135deg, #183D3D, transparent);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}




/* Home */
#home{
    width: 100%;
    height: 100vh;
    position: relative;
}
#home .mainText{
    position: absolute;
    top: 15%;
    left: 10%;
    font-family: 'Pacifico', cursive;
}
#home .mainText p{
    font-size: 130px;
}
#home .mainText span{
    display: block;
    font-size: 30px;
    float: right;
    margin-right: -100px;
}
/* home mainText 애니메이션 */
#home.motion .mainText p{
    transform: translate3d(0, 0, 0) skewY(0deg);
    /* overflow: hidden; */
    animation-name: textAni;
    animation-duration: 1.8s;
}
#home.motion .mainText p:nth-child(1){
    animation-duration: 1.5s;
}
#home.motion .mainText p:nth-child(2) span{
    animation-duration: 1.9s;
}
@keyframes textAni{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
        transform: translate3d(0, -50px, 0) skewY(-15deg);
        transform-origin: top left;
    }
}
#home .subText{
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 40%;
}
#home .subText p{
    display: block;
    width: 1050px;
    font-size: 180px;
    font-family: 'Jua', sans-serif;
    border-right: 2px solid #fff;
}
#home .subText p span{
    color: red;
}
/* 타이핑 애니메이션 */
#home .subText p{
    animation: blink 1s infinite, typing 3s steps(20);
    white-space: nowrap;
    overflow: hidden;
}
@keyframes blink{
    50%{
        border: transparent;
    }
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 900px;
    }
}

/* #home .svgAni{
    position: absolute;
    bottom: 17%;
    right: 3%;
    transform: rotate(-15deg);
} */
/* svg animation */
/* #home.motion #svgAni01{
    stroke-dasharray: 5398;
    stroke-dashoffset: -5398;
    animation: svgani 3s linear 1s forwards;
}
@keyframes svgani{
    0%{
        stroke-dashoffset: 5398;
    }
    100%{
        stroke-dashoffset: 0;
    }
} */




/* about me */
#aboutMe .title{
    width: 100%;
    height: 100vh;
    font-size: 130px;
    text-align: center;
    font-style: italic;
    font-family: 'Pacifico', cursive;
    padding-top: 25vh;
    box-sizing: border-box;
}
#aboutMe .content{
    width: 70%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
#aboutMe .content .left a{
    width: 200px;
    display: block;
    position: relative;
    border-radius: 100%;
    box-sizing: border-box;
}
#aboutMe .content .left a img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#aboutMe .content .left a img:nth-child(1){
    width: 85%;
}
#aboutMe .content .left a img:nth-child(2){
    animation: spin 6s linear infinite;
}
@keyframes spin{
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
#aboutMe .content .right{
    font-size: 23px;
    margin-top: -70px;
}
#aboutMe .content .right .my-info p:nth-child(1){
    margin-bottom: 50px;
}
#aboutMe .content .right .my-info p:nth-child(1) span{
    color: #5C8374;
}
#aboutMe .content .right .my-info p:nth-child(2){
    font-size: 19px;
    line-height: 70px;
}
#aboutMe .content .left .academy{
    font-size: 17px;
    margin-top: 35%;
}
#aboutMe .content .left .academy p{
    margin-bottom: 30px;
    color: #888;
}

/* my info motion */
#aboutMe .content .right.motion .word{
    animation: myInfo 0.8s both;
    animation-delay: calc(0.05s * var(--word-index));
}
@keyframes myInfo{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
}
/* academy motion */
#aboutMe .content .left.motion{
    animation: slideUp 1s both;
}
#aboutMe .content .left.motion a{
    animation-duration: 1.2s;
}
#aboutMe .content .left.motion .academy{
    animation-duration: 1.5s;
}
@keyframes slideUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    30%{
        opacity: 0;
        transform: translateY(50px);
    }
}




/* my skill */
#mySkill .title{
    width: 100%;
    height: 100vh;
    font-size: 130px;
    text-align: center;
    font-style: italic;
    font-family: 'Pacifico', cursive;
    padding-top: 25vh;
    box-sizing: border-box;
}
#mySkill .content{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}
.square{
    width: 350px;
    height: 350px;
    position: relative;
    margin: 0 5%;
}
.square span{
    position: absolute;
    width: inherit;
    height: inherit;
    border: 1px solid #fff;
    border-radius: 40% 60% 65% 35% / 30% 45% 60% 55%;
    transition: 0.5s;
}
.square div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.square div h2{
    font-size: 90px;
}
.square:nth-child(2n){
    margin-top: 200px;
}
/* 돌아가는 효과 */
.square span:nth-child(1){
    animation: circle 4s linear infinite;
}
.square span:nth-child(2){
    animation: circle 8s linear infinite;
    animation-direction: reverse;
}
.square span:nth-child(3){
    animation: circle 9s linear infinite;
}
@keyframes circle{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* hover 효과 */
.square:hover span{
    background-color: crimson;
    border: transparent;
}
.square:nth-child(2):hover span{
    background-color: dodgerblue;
}
.square:nth-child(3):hover span{
    background-color: yellow;
}
.square:nth-child(4):hover span{
    background-color: #fff;
}
.square:nth-child(5):hover span{
    background-color: #000080;
}
.square:nth-child(6):hover span{
    background-color: #4B0082;
}
.square:hover span:nth-child(1){
    opacity: 0.3;
}
.square:hover span:nth-child(2){
    opacity: 0.5;
}
.square:hover span:nth-child(3){
    opacity: 0.7;
}